extends layout

block content
  h1 #{game.title}
  p Players: #{game.minPlayers} -     #{game.maxPlayers}

  p
    a(href="/games/instance/#{game.slug}")= "Score Game"
  p
    a(href="/games/update/#{game.slug}")= "Update"