extends layout

block content
  h1="Update Game"

  form#formAddUser(name="adduser",method="post",action="/games/update/#{games[0].slug}")
    input#inputId(type="text", name="_id" value="#{games[0]._id}")
    div
      input#inputTitle(type="text", placeholder="title", name="title" value="#{games[0].title}")
    div
      input#inputUrl(type="text", placeholder="url", name="url" value="#{games[0].url}")
    div
      input#inputMinPlayers(type="text", placeholder="minPlayers", name="minPlayers" value="#{games[0].minPlayers}")
    div
      input#inputMaxPlayers(type="text", placeholder="maxPlayers", name="maxPlayers" value="#{games[0].maxPlayers}")
    div
      button#btnSubmit(type="submit") submit
